@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #1c1c1c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  width: 280px;
  height: 38px;
  border: 3px solid #92b8d6;
  outline: none;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  height: 100px;
}

.btn {
  border-radius: 4px;
  height: 50px;
  border: none;
  background-color: #92b8d6;
  color: #1c1c1c;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #92b8d6;
}